
<div class="container" role="main">
<div>
      <div style="width: 600px;margin:auto">
          <img style="width: 600px" src="http://foodtalk4you.com/wp-content/uploads/2017/01/Recipes-Banner.jpg">
      </div>

      <h1 align="center">Welcome to MyRecipes App</h1>



    


    
<h2> Sign Up </h2>
 <p>  <%= link_to 'Sign up now!', new_user_path %>  <p> 

 <h2> Or </h2> 
 <p> <%= link_to('Log in with Facebook!', '/auth/facebook') %>  </p> 


<h3>  If you already have a account sign in  bellow </h3> 
<%= link_to "Log in ", signin_path %> 


<h3>  you  can add a new recipe or update your recipes, create comment and  much much more! </h3> 