
<div class="container" role="main">
<div>
      <div style="width: 600px;margin:auto">
          <img style="width: 600px" src="http://foodtalk4you.com/wp-content/uploads/2017/01/Recipes-Banner.jpg">
      </div>

      <h1 align="center">Welcome to MyRecipes App</h1>
<h2> <%= link_to 'Sign up now!', new_user_path %> </h2> 


<h3>  youn can add a new recipe or update your recipes, create comment and  much much more! </h3> 
<h3>  If you already have a account sigin in bellow 
<%= link_to "Log in ", signin_path %> <h3> 